option_settings:
  aws:elasticbeanstalk:environment:
    LoadBalancerType: application
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:eu-north-1:524664341571:certificate/9ae84ddf-ab86-492f-9c12-0bbd6c5d3f08
  aws:elbv2:listener:80:
    Protocol: HTTP

files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      if ($http_x_forwarded_proto = "http") {
        return 301 https://$host$request_uri;
      }